<section class="ms-5 mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mt-5 pt-4 shadow-lg p-3 mb-5 bg-body rounded">
        <h3>Add Categoryt Offer</h3>
        <form
          method="post"
          action="/admin/add-cat-offer"
          name="category-form"
          id="category-form"
        >

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Category Title</label>
            <input
              type="text"
              name="catId"
              id=""
              value="{{categ._id}}"
              hidden
            />
            <input
              type="text"
              name="title"
              id=""
              value="{{categ.category-name}}"
              disabled
              class="form-control form-control-file"
            />
            <span id="image-error" class="text-danger text-center"></span>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Offer in %</label>
            <input
              type="number"
              name="offer"
              id="offeramount"
              required
              class="form-control form-control-file"
              onkeyup="validateOffer()"
            />
            <span id="offer-error" class="text-danger text-center"></span>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Offer End Date</label>
            <input
              type="date"
              name="enddate"
              id="date"
              class="form-control form-control-file"
              required
            />
            <span id="date-error" class="text-danger text-center"></span>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            onclick="validateOffer()"
          >Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/public/javascripts/validateCategoryOffer.js"></script>