<section class="ms-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mt-5 pt-4 shadow-lg p-3 mb-5 bg-body rounded">
        <h3>Add Banner</h3>
        <form
          enctype="multipart/form-data"
          method="post"
          action="/admin/add-banner"
          name="category-form"
          id="category-form"
        >

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Banner Image
              Upload</label>
            <input
              class="form-control form-control-file"
              type="file"
              id="formFile"
              name="banner_image"
            />
            <span id="image-error" class="text-danger text-center"></span>

          </div>
          <button
            type="submit"
            class="btn btn-primary"
            onclick=""
          >Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
</script>