<div class="row ms-5">
  <div class="col-8 shadow-lg mt-5 mb-5 bg-body rounded border border-dark">
    <div class="row">
      <div class="col-12 p-3" style="background-color: rgb(119, 73, 172);">
        <h3 style="color: white;">Offers</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table mt-5 col-11" id="usrtable">
          <tbody>
            <tr>
              <td>Product Offers </td>
              <td><a href="/admin/product-offers" class="btn btn-primary">View
                  Offers</a></td>
            </tr>
            <tr>
              <td>Category Offers </td>
              <td><a
                  href="/admin/view-category-offer"
                  class="btn btn-primary"
                >View Offers</a></td>
            </tr>
            <tr>
              <td>Coupons </td>
              <td><a href="/admin/coupons" class="btn btn-primary">View Coupons</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>