<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.bootstrap5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
  </head>
  <body>
    <section class="d-flex justify-content-around m-0" >
 
        <div class=" p-3 mt-4 col-6" style="background-color: rgb(211, 218, 219); border-radius: 10px;">
            <div class="d-flex align-items-end mt-4 mb-3" >
               <h3 class="me-3">Daily Sales</h3>
                
            </div>
    
       <table class="table mt-5" id="reportTable" > 
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col" style="margin-left: 100px;">Total Sale</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders}}
        <tr>
          <td>{{this._id}}</td>
          <td style="margin-left: 100px;">{{this.totalSaleAmount}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
        </div>
    </section>
    <script>
     $(document).ready(function() {
    var table = $('#reportTable').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
    } );
 
    table.buttons().container()
        .appendTo( '#reportTable_wrapper .col-md-6:eq(0)' );
} );
      </script>
  </body>
</html>