

<div class="row mt-5 ms-5">
  <div class="col-11 shadow-lg  mb-5 bg-body rounded border border-dark">
    <div class="row">
      <div class="col-12 d-flex justify-content-between p-3" style="background-color: rgb(119, 73, 172);">
        <h3 style="color: white;">Banners</h3>
        <a href="/admin/add-banner" class="btn btn-success ms-3" style="margin-left: auto;">Add Banner</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
           <table class="table mt-5" id="categorytable"> 
  <thead>
    <tr>
      
      <th scope="col">Image</th>
      
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each banners}}
    <tr>
      
      <td><img src="/banner-images/{{this.img_path}}" alt="" style="width: 500px; height: 200px;"></td>
     

      <td>
        <button class="btn btn-danger" style="margin-top: 80px;" onclick="deletbann('{{this._id}}')">Delete</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>




<script>

function deletbann(banId){  
  $.ajax({
    url:'/admin/delete-banner/'+banId,
    method:'get',
    success:(response)=>{
      if(response.status){
          Swal.fire({
          title: 'Deleted',
          text: "Banner Delete Success fully",
          icon: 'info',
          showCancelButton: false,
          confirmButtonColor: '#11B619',
          cancelButtonColor: '#A19391',
          confirmButtonText: 'Ok'
          }).then((result) => {
               if (result.isConfirmed) {
                                      location.href='/admin/banner'
                                      }
          })

      }

    }
  })  

      
  }
</script>