<div class="row d-flex justify-content-center m-4">
    <div class="col-9">
        <div class="row">
            <div class="col-12"><h2>About us</h2></div>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="/banner/sidebar vegitables.webp" alt="">
            </div>
            <div class="col-9">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A suscipit deleniti tempora saepe, ut reprehenderit quos dolorum. Et velit, maxime illo, blanditiis neque, autem sunt sapiente voluptate quis facere eveniet?</p>            </div>
        </div>
    </div>
</div>