<div
  class="row d-flex justify-content-center p-5"
  style="background-color: rgb(139, 139, 226);"
>
  <div class="col-6 p-3" id="transparenter">
    <h3>Change Password</h3>
    <form action="/change-password" id="psdform" method="post">
      <div class="row mb-3">
        <label
          for="inputEmail3"
          class="col-sm-4 col-form-label d-flex justify-content-start"
        >Email</label>
        <div class="col-sm-8">
          <input
            type="email"
            class="form-control border border-secondary rounded"
            id="inputEmail3"
            name="user_email"
            onkeyup="validEmail()"
            value="{{user.user_email}}"
          />
          <span id="uemail-error" class="text-danger text-center"></span>
        </div>
      </div>
      <div class="row mb-3">
        <label
          for="inputPassword3"
          class="col-sm-4 col-form-label d-flex justify-content-start"
        >Old Password</label>
        <div class="col-sm-8">
          <input
            type="password"
            class="form-control border border-secondary rounded"
            id="inputPassword3"
            name="user_password"
            onkeyup="validPsd()"
          />
          <span id="upsd-error" class="text-danger text-center"></span>
        </div>
      </div>
      <div class="row mb-3">
        <label
          for="inputPassword3"
          class="col-sm-4 col-form-label d-flex justify-content-start"
        >New Password</label>
        <div class="col-sm-8">
          <input
            type="password"
            class="form-control border border-secondary rounded"
            id="inputPassword4"
            name="new_password"
            onkeyup="validnewPsd()"
          />
          <span id="newpsd-error" class="text-danger text-center"></span>
        </div>
      </div>
      <div style="margin-left: 100px;">
        <button type="reset" class="btn btn-secondary rounded">Reset</button>
        <button
          type="submit"
          class="btn btn-secondary rounded"
          onclick="return formValid()"
        >Submit</button>
      </div>
    </form>
    {{#if chpsd}}
      <div class="alert alert-success" role="alert">
        Password Updated....
      </div>
    {{/if}}
    {{#if notchpsd}}
      <div class="alert alert-warning" role="alert">
        Password Not Updated....
      </div>
    {{/if}}
  </div>
</div>
<style>
  #transparenter{ background: rgba( 255, 255, 255, 0.25 ); box-shadow: 0 8px
  32px 0 rgba( 31, 38, 135, 0.37 ); backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px ); border-radius: 10px; border: 1px solid
  rgba( 255, 255, 255, 0.18 ); }
</style>
<script>
  var psdError = document.getElementById('upsd-error'); var newpsdError =
  document.getElementById('newpsd-error'); var emailError =
  document.getElementById('uemail-error'); function validEmail(){ var email =
  document.getElementById('inputEmail3').value; if(email.length==0){
  emailError.innerHTML= 'Email is required....'; return false; }
  if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
  emailError.innerHTML='Invalid Email Format....'; return false; }
  emailError.innerHTML = ""; return true; } function validPsd(){ var psd =
  document.getElementById('inputPassword3').value; if(psd.length == 0){
  psdError.innerHTML= 'Password is required'; return false; } if(psd.length <
  3){ psdError.innerHTML= 'Password must be atleast 3 charecters '; return
  false; }
  if(!psd.match(/((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%?=*&]).{8,20})/)){
  psdError.innerHTML= 'Password has invalid syntax'; return false; }
  psdError.innerHTML = ''; return true; } function validnewPsd(){ var psd =
  document.getElementById('inputPassword4').value; if(psd.length == 0){
  newpsdError.innerHTML= 'Password is required'; return false; } if(psd.length <
  3){ newpsdError.innerHTML= 'Password must be atleast 3 charecters '; return
  false; }
  if(!psd.match(/((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%?=*&]).{8,20})/)){
  newpsdError.innerHTML= 'Password has invalid syntax'; return false; }
  newpsdError.innerHTML = ''; return true; } function formValid(){
  if(!validEmail() || !validPsd() || !validnewPsd()){ return false; } return
  true; };

</script>
{{! <script>
    $('#psdform').submit((e)=>{
        alert('Success full')
        e.preventDefault()
        $.ajax((
            url:'/change-password',
            method:'post',
            data:$('#psdform').serialize(),
            success:(response)=>{
               if(response.status)
               {
                   Swal.fire('Success')
               }else{
                   Swal.fire('Failed')
               }
                
            }
        ))

    })

</script> }}