<section>
    <div class="row d-flex justify-content-around ms-4">
        <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded border">
            <div class="row ">
                <div class="col-12">
                    <textarea name="" id="" cols="50" rows="10"></textarea>
                </div>
            </div>
            <div class="row mt-4 d-flex justify-content-end">
                <div class="col-3">
                    <button class="btn btn-primary">Clear</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-secondary">Send</button>
                </div>
            </div>
        </div>
        <div class="col-4 shadow-lg p-3 mb-5 bg-white rounded border">
            <textarea name="" id="" cols="50" rows="10"></textarea>
        </div>
    </div>
</section>