{{!-- <section class="container-fluid">
  
  <div class="row d-flex justify-content-center" style="height: 568px; width: auto; background-image: url(/images/farmbg.jpg); background-repeat: no-repeat; background-size: 250vh;">
      
<div class="col-3 d-flex justify-content-center mt-5" style="background-color: rgb(62, 165, 62); height: 400px; opacity: .9; border-radius: 20px;">
          
<form action="/login" method="post">
<span class="label label-success"><h3>Login Form..</h3></span>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user_email" required onkeyup="validEmail()">
    <span id="email-error" class="text-danger text-center"></span>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="user_password" required onkeyup="validPsd()">
    <span id="psd-error" class="text-danger text-center"></span>
  </div>
  <button type="submit" class="btn btn-primary" onclick="return formValid()">Submit</button>
  <button type="reset" class="btn btn-primary">Reset</button>
  <br><br><a href="/signup">Register..</a>
  {{#if logerr}}
  <div class="alert alert-danger text-center m-3">
   Invalid Username or Password
  </div>
  {{/if}}
  {{#if otpError}}
  <div class="alert alert-danger text-center m-3">
   Invalid OTP
  </div>
  {{/if}}
</form>
        </div>
    </div>
</section> --}}

    <body itemscope  id="authentication" class="lang-en country-us currency-eur layout-full-width page-authentication tax-display-disabled page-customer-account">
        <main>
            <div id="wrapper" style="background-image: url(/images/pexels-lukas-616404.jpg); background-size: 100%; background-repeat: no-repeat;">

                <div class="container" >
                    <div class="row d-flex justify-content-center" >

                        <div id="content-wrapper" class="col-xs-6 mb-5" >
                            <section id="main">
                                <header class="page-header mt-3">
                                    <h1>
                                        Log in to your account
                                    </h1>
                                </header>
                                <section id="content-wrapper" class="page-content card card-block shadow-lg p-3 mb-5  rounded d-flex justify-content-around" >
                                    <section class="login-form">
                                        <form id="login-form" action="/login" method="post">
                                            <section>
                                                <input type="hidden" name="back" value="">
                                                <div class="form-group row d-flex justify-content-center">
                                                    <label class="col-md-3 form-control-label required">
                                                        Email
                                                    </label>
                                                    <div class="col-md-6">
                                                        <input class="form-control border border-secondary rounded" name="user_email" type="email" value="" required id="exampleInputEmail1" onkeyup="validEmail()">
                                                        <span id="email-error" class="text-danger text-center"></span>
                                                    </div>
                                
                                                </div>
                                                <div class="form-group row d-flex justify-content-center">
                                                    <label class="col-md-3 form-control-label required">
                                                        Password
                                                    </label>
                                                    <div class="col-md-6">
                                                        <div class="input-group js-parent-focus">
                                                            <input class="form-control js-child-focus js-visible-password border border-secondary rounded" name="user_password" type="password" value="" pattern=".{2,}" required onkeyup="validPsd()" id="exampleInputPassword1">
                                                            <span class="input-group-btn">
                                                                <button class="btn" type="button" data-action="show-password" data-text-show="Show" data-text-hide="Hide">
                                                                    Show
                                                                </button>
                                                            </span>
                                                            
                                                        </div>
                                                        <br>
                                                            <span id="psd-error" class="text-danger text-center"></span>
                                                    </div>
                                                </div>
                                                <div class="forgot-password">
                                                    {{#if logerr}}
                                                        <div class="alert alert-danger text-center m-3">
                                                         Invalid Username or Password
                                                        </div>
                                                    {{/if}}
                                                    {{#if otpError}}
                                                        <div class="alert alert-danger text-center m-3">
                                                            Invalid OTP
                                                        </div>
                                                    {{/if}}
                                                </div>
                                            </section>
                                            <footer class="form-footer text-sm-center clearfix">
                                                <input type="hidden" name="submitLogin" value="1">

                                                <button id="submit-login" class="btn btn-primary" data-link-action="sign-in" type="submit" class="form-control-submit" onclick="return formValid()">
                                                    Sign in
                                                </button>
                                            </footer>
                                        </form>
                                    </section>
                                    <hr/>
                                    <div class="no-account d-flex justify-content-center">
                                        <a href="/signup" data-link-action="display-register-form">
                                            No account? Create one here
                                        </a>
                                    </div>
                                </section>


                                <footer
                                    class="page-footer"><!-- Footer content -->

                                </footer>


                            </section>


                        </div>


                    </div>

                </div>


            </div>


        </main>
        <style>
            #content-wrapper{
                background: rgba( 255, 255, 255, 0.25 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 4px );
                -webkit-backdrop-filter: blur( 4px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
            }
        </style>
        <script>
   var psdError = document.getElementById('psd-error');
   var emailError = document.getElementById('email-error');
  function validEmail(){
    
    var name = document.getElementById('exampleInputEmail1').value;
   
    if(name.length==0){
        emailError.innerHTML= 'Email is required';
        return false;
    }
    if(!name.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
        emailError.innerHTML='Invalid Email Format....';
        return false;
    }
    emailError.innerHTML = '';
    return true;
}
 
 function validPsd(){
 
  var psd = document.getElementById('exampleInputPassword1').value;
   if(psd.length == 0){
        psdError.innerHTML= 'Password is required';
        return false;
    }
    if(psd.length < 3){
        psdError.innerHTML= 'Password must be atleast 3 charecters ';
        return false;
    }
    /*if(!psd.match(/((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%?=*&]).{8,20})/)){
      psdError.innerHTML= 'Password has invalid syntax';
        return false;
    }*/
    psdError.innerHTML = '';
    return true;
 }
 function formValid(){
   if(!validEmail() || !validPsd()){
      return false;
   }
   return true;
 }
</script>

    </body>
</html>


 